.jumbotron{
	background-color: #000033;
}
h2{
	color: white !important;
	font-weight: bold;
	font-family: Georgia, serif;
}
#tagline{
	color: white !important;
	font-size: 150%;
	margin-left:25%;
}
#instruction{
	font-size: 143%;
	font-weight: bold;
}
#js-link{
	background: #c8480c;
	color: white;
	display: box;
	padding:10px;
	text-decoration:none;
	font-weight:bold;
}
#js-link:hover{
	padding:15px;
}